/*
*
*
*/
/* * * * *Barra de navegação* * * * */
.img-logo {
    height: 40px;
    width: 132px;
    display: block;
    background: url("../../imagens/spotify.svg") no-repeat;
    border: 1px solid red;

    background-size: contain;/*Define que a imagem de fundo terá o mesmo tamanho que o definido na classe css*/
    color: transparent;/*O Texto fica transparente e visível aos leitores de tela*/
}

