/*
*
*
*/
/* *==========================Layout==========================* */

/* Todas essas tag's terão uma altura de 100% */
html, body, .capa {
    height: 100%;
}

body {

    font-family: Arial, Helvetica, sans-serif;

    /* Varias imagens de background */
    background: url("../../imagens/capa.png"), 
                url("../../imagens/ruido.png"),
                linear-gradient(50deg, #ff4169, #7c26f8);

    /* Deixa o background parado */
    background-attachment: fixed;

    /* Remove a barra horizontal */
    overflow-x: hidden;
}


/* * * * * * * * * * * * * * *Barra de navegação* * * * * * * * * * * * * * */
.img-logo {
    height: 40px;
    width: 132px;
    display: block;
    background: url("../../imagens/spotify.svg") no-repeat;

    /*Define que a imagem de fundo terá o mesmo tamanho que o definido na classe css*/
    background-size: contain;
    /*O Texto fica transparente e visível aos leitores de tela*/
    color: transparent;
}

.navbar-transparente {
    padding: 15px 0px;
    /*aplica 60% de transparência ao elemento */
    background: rgba(0, 0, 0, 0.6);
}

.divisor {
    width: 1px;
    height: 16px;
    background: white;
    margin: 14px 10px;
}

/* cor padrão do link */
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

/* Quando em cima do link ele muda a cor do mesmo */
.navbar-dark .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}


/* * * * * * * * * * * * * * *Imagem de capa* * * * * * * * * * * * * * */
.capa {
    /* Comportamento de tabela */
    display: table;
    width: 100%;
}

.texto-capa {
    text-align: center;
    color: white;
    
    display: table-cell;
    vertical-align: middle;
}

/* * * * * * * * * * * * * * *Botões* * * * * * * * * * * * * * */
.btn-custom {
    color: white;

    /* arredondamento */
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;

    padding: 10px 35px;

    /* Todas as letras em maiúsculas */
    text-transform: uppercase;
    margin: 0px 15px;

    /* Transição para trocar o background e sua cor */
    transition: background 0.5s, color 0.5s;
}

.btn-roxo {
    background: #841cb4;
}
.btn-roxo:hover {
    background: #6207e3;
    color: white;
}

.btn-branco {
    border: 2px solid white;
}
.btn-branco:hover {
    border: 2px solid white;
    background: white;
    color: black;
}

/* * * * * * * * * * * * * * *Seção de serviços* * * * * * * * * * * * * * */
#servicos {
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.albuns {
    padding: 10px 0px 10px 0px;
}
/* * * * * * * * * * * * * * *Seção de recursos* * * * * * * * * * * * * * */
#recursos {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.rotacionar {
    /* Rotaciona em 30 graus */
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    padding-left: 80px;
}


/* *==========================Tipografia==========================* */
 h1 {
    font-size: 150px;
    font-weight: 900;
    letter-spacing: -7px;
    margin-bottom: 50px;
 }

 h2 {
     /* padding-top: 15px; */
     font-size: 50px;
     font-weight: 700;
     letter-spacing: -2px;
 }

 h3 {
     /* padding-top: 20px; */
     font-size: 35px;
     font-weight: 700;
     letter-spacing: -2px;
 }


 /* Formatamos TODOS os h2 e h3 presente na onde o id é "servicos", deixando os outros intactos. */
#servicos h2, #servicos h3 {
    color:#7c25f8;
}

#recursos h3 {
    color:#9bf0e1;
}